nav a {
    background-color: beige;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px; 

}
  
footer{
    background-color: pink;
    border: solid 1px black;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100px;
    text-align: center;
}